{% extends "base.html" %}

{% block main_content %}
<div class="app-main__inner">
  <div class="row">
    <div class="col-md-12">
      <div class="main-card mb-3 card">
        <div class="card-header">Active Members
        </div>
        <div class="table-responsive">
          <table class="align-middle mb-0 table table-borderless table-striped table-hover">
            {% if members %}
            <thead>
              <tr>
                <th>Name</th>
              </tr>
            </thead>
            <tbody>
              {% for member in members %}
              <tr>
                <td>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left flex2">
                        <div class="widget-heading">{{ member.full_name }}</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            {% else %}
            <tbody>
              <tr>
                <td>
                  <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                      <div class="widget-content-left flex2">
                        <div class="widget-heading">This association has no members.</div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}